@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #344a72;
    background: url('3418448.jpg') no-repeat;
}

.Sign-Up {
    width: 420px;
    background: transparent;
    border:2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.301);
    color: #fff;
    border-radius: 10px;
    padding: 30px 40px;
}
.Sign-Up h1 {
    font-size: 36px;
    text-align: center;
}
.Sign-Up .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}
.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box i {
    position: absolute;
    top: 12px;
    right: 12px;
    font-size: 18px;
    color: #888;
}

.input-box input::placeholder {
    color: #fff;
}

.Sign-Up .ensure-password {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.ensure-password a:hover {
    text-decoration: underline;
}
.Sign-Up button {
    width: 100%;
    height: 35px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}
.Sign-Up .terms {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
    margin: 20px 0 15px;
}

.terms p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}
.register-link p {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}




